@model EntityLayer.Concrete.ReserveBikeMessage

@{
    ViewData["Title"] = "GoToMessage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Client's message</h1>
<br />
<form method="post">
    @Html.HiddenFor(x => x.MessageId)

    <br />
    <div class="form-group">
        @Html.Label("Fullname")
        @Html.TextBoxFor(x => x.ClientFullname, new { @class = "form-control", @style = "width:50%", @disabled = "disabled" })
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Date")
        @Html.TextBoxFor(x => x.MessageDate, new { @class = "form-control", @style = "width:50%", @disabled = "disabled" })
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Email")
        @Html.TextBoxFor(x => x.ClientMail, new { @class = "form-control", @style = "width:50%", @disabled = "disabled" })
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Phone")
        @Html.TextBoxFor(x => x.ClientPhone, new { @class = "form-control", @style = "width:50%", @disabled = "disabled" })
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Message")
        @Html.TextAreaFor(x => x.ClientMessage, new { @class = "form-control", @style = "width:50%; height:100px", @disabled = "disabled" })
    </div>
    <br />
</form>

